<h2>About Me</h2>
<p>I am a programmer by heart and a software developer by profession. I have experiences in Django stack and Tkinter.</p>

<h2>Skills</h2>
<table border=0px style="padding-right: 1px;">
  <tr><td><li>C/C++</li></td>&nbsp;<td><li>Java</li></td></tr>
  <tr><td><li>HTML/CSS/JS</li></td>&nbsp;<td><li>Python</li></td></tr>
  <tr><td><li>Django</li></td>&nbsp;<td><li>Tkinter</li></td></tr>
  <tr><td><li>SQL</li></td>&nbsp;<td><li>MVC</li></td></tr>
  <tr><td><li>AWS/Azure</li></td>&nbsp;<td><li>Linux</li></td></tr>
  <tr><td><li>Git</li></td>&nbsp;<td><li>Bash</li></td></tr>
</table>
</ul>



<hr />
<h2>Contact</h2>
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/unnatixlr8">GitHub</a>
  </li>
  <li class="main-list-item">
    <i class="fa fa-linkedin-square fa-lg"></i>
    <a href="https://www.linkedin.com/in/unnatixlr8/">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <i class="fa fa-envelope fa-lg"></i>
    <a href="mailto:unnatixlr8@gmail.com">Email</a>
  </li>
  <li class="main-list-item">
    <i class="fa fa-instagram fa-lg"></i>
    <a href="https://www.instagram.com/unnatixlr8/">Instagram</a>
  </li>
  <li class="main-list-item">
    <i class="fa fa-facebook-official fa-lg"></i>
    <a href="https://www.facebook.com/unnatixlr8">Facebook</a>
  </li>
</ul>
